<div class="center">
    <h1>Площадь помещения</h1>
    
    <form action="result">
        <input type="number" step="any" name="number1" placeholder="Введите длину">
        <br>
        <br> 
        <input type="number" step="any" name="number2" placeholder="Введите ширину">
        <br>
        <br>
         
         <button type="submit">Умножить</button>
         
    
    </form>
    </div>
    
    <style>
      .center {
        margin: auto;
        width: 60%;
        border: 3px solid #a5addb;
        padding: 10px;
      }
    </style>
    